<% if logged_in? %>
    <script>
        window.currentUser = {
            id: <%= current_user.id %>,
            username: "<%= current_user.username %>"
        }
    </script>
<% end %>
<script type="text/javascript">
    window.gradient = "<%= image_url('gradient1.jpg') %>"

</script>

<div id="root"></div>