$lightblue: #f2f7f7;

$lighter-green: rgb(202, 224, 21);
$lightgreen: rgb(16, 197, 40);
$green: rgb(4, 173, 4);
$darkgreen: darkgreen;

$lightgray: rgb(184, 181, 181);
$gray: gray;
$darkgray: #565656;

$white:white;
$black:black;

$red: rgb(241, 96, 60);

$lightpink:lightpink;
$pink:pink;
$darkpink:deeppink;

$orange: orange

