$lightblue: #f2f7f7;
$lightgreen: rgb(16, 197, 40);
$green: rgb(4, 173, 4);
$darkgreen: darkgreen;

$lightgray: lightgray;
$gray: gray;
$darkgray: darkgray;

$white:white;
$black:black;

$lightpink:lightpink;
$pink:pink;
$darkpink:deeppink;

$orange: orange

