$lightblue: #f2f7f7;
$lightgreen: rgb(16, 197, 40);
$green: rgb(4, 173, 4);
$darkgreen: darkgreen;

$lighter-gray: #efebeb;
$lightgray: rgb(184, 181, 181);
$gray: gray;
$darkgray: darkgray;

$white:white;
$black:black;

$red: rgb(241, 96, 60);

$lightpink:lightpink;
$pink:pink;
$darkpink:deeppink;

$orange: orange

