.dashboard-news {
    h1 {
        font-size: 1.3em;
        margin-bottom: 2vh;
        padding-bottom: 2vh;
        border-bottom: 1px solid gray;
    }
    .source {
        margin-left: 1vw;
    }
    .dashboard-news-item {
    
    }
    .row { margin-bottom: 1vw}
}