.stock-sidebar-container {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.stock-link {
    display: flex;
    justify-content: space-between;
    padding: 1vw 0;
    color: $black;
    position: relative;
}
.stock-mini-graph {
    // height: 100%;
    width: 100%;
}