.stock-sidebar-container {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .owned-stocks {
        .stock-link {
            display: flex;
            justify-content: space-between;
            padding: 1vw 0;
            color: $black;
        }
    }
}