.functional-component-container { // containers for stocks, dashboard
    position: relative;
    top: 100px;// must match height of dashboardnav
    background: red;
    height: 100%;
    font-family: $serif;
    display: flex;

    max-width:1053px;
    margin: 0 auto;
    .main {
        background: blue;
        width: 710px;
      
    }
    aside {
        position: fixed;
        box-sizing: border-box;
        
        left: 875px;
        width:275px;
        box-shadow: 0 0 20px $lightgray;
      

        > *:not(hr) { // all immediate children, minus lines
            padding: 20px;
        }

        hr {
            background-color: $lighter-gray;
            height: 1px;
            
            border: none;
        }
        .buy-sell {
            font-family: $serif;
            padding-bottom: 0;
            font-size: .90em;
            display:flex;
            font-weight: bold;

            li {
                box-sizing:border-box;
                cursor: pointer;
                padding-bottom: 20px;
                margin-right: 10px;
                color: $black;
               
                &:hover {
                    color: $green;
                }
               
            }
            .selected {
                color: $green;
                border-bottom: 1px solid $green;
            }
        }
        > section:nth-child(3) { // fix padding on top line
            padding-top: 10px;

        }
    }
    .buying-power {
        color: $green;
        font-size: .9em;
        text-align: center;
        cursor: pointer;
        .info-box {
            display: none;
        }
        .show {
            display: block;
            position: fixed;
            background-color: blue;
            box-shadow: 0 0 20px $lighter-gray;
            padding: 10px;
        }
    }
}

.pst-form {
    font-size: .83em;
    * {
        display: block;
    }
    select {
        
        border: 1px solid $lighter-gray;
        border-radius: 5px;
        box-sizing:border-box;
        padding: 10px;
        width: 150px;
        &:hover {
            box-shadow: 0 0 10px $lighter-gray;
        }
    }
    input[type=number] {
        width: 60px;
        border-radius: 5px;
        padding: 10px;
        text-align:right;
        opacity: .7;
        background-color: $lightblue;
        position: relative;
        border: 1px solid $lightblue;
        &:hover {
            background-color: $white;
            border-color: $lightgray;
           
        }
    }
    .line {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
//         margin-bottom: 10px;
        &:first-child { // shares/dollars select
            position: relative;
            background-image: image_url('arrows.svg');
            background-repeat: no-repeat;
            background-position: center right 10px;
            background-size: 8px;
        
        }
    }
    .cost-credit {
        font-weight: bold;
    }

    button {
        margin-top: 20px;
        background-color: $lightgreen;
        color: $white;
        height: 50px;
        display: block;
        width: 100%;
        border-radius: 5px;
    }
}