.functional-component-container { // containers for stocks, dashboard
    padding-top: 60px;// must match height of dashboardnav
    border: 5px solid red;
    font-family: $serif;
    .main {
        border: 5px solid blue;
    }

}