.splash-nav-container {
    box-shadow: 0 1px 4px $gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em;
    width:100vw;
    position: fixed;
    box-sizing: border-box;
    height: 60px; //margin-top in splash must match this height
    background-color: $white;
    
    box-sizing:border-box;
    .show {
        display: flex;
    }
}

.splash-nav-main {
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 100%;
    a {
        color: $black;
    }
    .logo {
        width: auto;
        height: 45px;
    }

}

.splash-nav-links {
    font-size: .9em;
    display: flex;
    li {
        padding-left: 40px;
    }
}

.login-signup {
    margin-left: auto; // floats the last div to the right of the navbar    
    font-family: $narrow;
    a { // signin/signup
        margin-left: 20px;
        font-weight: 900;
        text-align: center;
        &:first-child:hover { // sign in link
            color: $lightgreen;
        }
        &:last-child { // sign up button 
            padding: 13px 0;
            display: inline-block;
            width: 135px;
            background-color: $lightgreen;
            color: black;
            border-radius: 30px;
        }
        &:last-child:hover {// sign up button 
            background-color: $green;
        } 
    }
}





