.splash-main {
  box-sizing: border-box;
  padding-top: 60px; // must match height of nav
  font-family: $serif;
  section {
    border-bottom: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h1 {
    font-family: $narrow;
    line-height: 1.2em;
  }
  h2 {
    line-height: 1.3em;
  }
}

.splash-component-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $lighter-green;
  height: 87vh;

  @media (max-width: 480px) {
    display: block;
    padding: 10px;
  }

  .left {
    margin-top: 10px;
    max-width: 400px;
    span {
      color: $black;
      font-weight: bold;
    }
  }
  h1 {
    color: $white;
    font-size: 4em;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
  }

  img {
    height: 300px;

    @media (max-width: 480px) {
      width: 100%;
      height: auto;
    }
  }
  .signup-button {
    // signin/signup
    font-family: $condensed;
    font-size: 1.25em;
    font-weight: 900;
    text-align: center;
    &:first-child:hover {
      // sign in link
      color: $lightgreen;
    }
    &:last-child {
      // sign up button
      padding: 15px 0;
      display: inline-block;
      width: 135px;
      background-color: $black;
      color: $white;
      border-radius: 30px;
    }
    &:last-child:hover {
      // sign up button
      opacity: 0.8;
      background-color: $gray;
    }
  }
}

.splash-component-2 {
  text-align: center;
  padding: 0 30px;
  article {
    max-width: 500px;
    margin: 0 auto;
    .fas {
      font-size: 0.7em;
      position: relative;
      display: inline-block;
      margin: 0 2px;
      top: -5px;
      color: $gray;
    }
  }
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 0.9em;
    line-height: 2em;
    margin-bottom: 40px;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 600;
    font-family: $condensed;
    color: $gray;
  }
}

.splash-component-3 {
  padding: 0 20px;
  article {
    display: flex;
    justify-content: space-between;
    max-width: 90vw;
    margin: 0 auto;

    @media (max-width: 480px) {
      display: block;
    }

    aside {
      max-width: 700px;
    }
  }
  img {
    max-width: 300px;

    @media (max-width: 480px) {
      width: 100%;
    }
  }
  h1 {
    //         font-weight: bold;
    font-size: 2.25em;
    margin-bottom: 20px;
  }
  h2 {
    color: gray;
    margin-bottom: 40px;
    font-size: 1em;
    font-family: $serif;
  }
  h3 {
    font-family: $serif;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 0.9em;
  }
  h4 {
    line-height: 1.5em;
    font-size: 0.9em;
  }
  .three-col div {
    margin-right: 30px;
  }
}

.three-col {
  display: flex;
}

.three-col div {
  width: 33%;
}

.double-col {
  display: flex;
  justify-content: space-between;
}

.four-col {
  display: flex;
  justify-content: space-between;
}

.splash-footer-component {
  background-color: black;
  color: white;
  font-family: $narrow;

  font-size: 1.25em;
  padding: 0 10em;

  @media (max-width: 480px) {
    padding: 20px;
  }
  article {
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
    border-bottom: 1px solid $darkgray;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  ul {
    margin-right: 20px;
  }
  li {
    margin-bottom: 20px;
    a {
      color: white;

      display: inline-block;
      &:hover {
        color: $lightgreen;
      }
    }
  }
  .disclosure {
    color: $gray;
    font-size: 0.85em;
    h5 {
      margin-bottom: 60px;
    }
    p {
      margin-bottom: 20px;
    }
  }
}
