.stock-show-container {
   position: relative;
    h1 {
        font-family: $condensed;
        font-size: 1.75em;
    }
    .stock-graph {
        
        margin-bottom: 50px;
        .time-frame {
            display: flex;
            border-bottom: 1px solid $lighter-gray;
            box-sizing: border-box;
            font-family: $narrow;
            font-weight: bolder;
            color: $black;
            margin-top: 10px;
            padding-top: 10px;
            li {
                cursor: pointer;
                font-size: .8em;
                box-sizing: border-box;
                padding-bottom: 10px;
                &.selected {
                    color: $lightgreen;
                    border-bottom: 1px solid;
                    &.negative-change { 
                        color: $red;
                    }
                }
                &:hover { color: $lightgreen; }
                &.negative-change:hover { color: $red }                
            } 
        }
        .company-name, .current-price, .percentage-change {
            
            line-height: 1.5em;
        }
        .company-name, .current-price{
            font-size: 2em;
        }
        .percentage-change {  
            font-weight: bold;
            margin-bottom:50px;
            font-size: .8em;
            > * {
                display: inline-block;
               margin-right: 5px;
            }
            .timeframe {color: $gray}
        }

    }
    .stock-list {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        background-color: $white;
        border: 1px solid $lighter-gray;
        h3, ul a{ padding: 10px; }
        ul {
            display: none;
            height: 300px;
            overflow: auto;
            text-align: center;
            li:hover {
                background-color: $lightblue;
            }
            a { color: $green; display: block; }
            &.show { display: block; }
        }
    }
    > section {
        margin-bottom: 30px;
        h1 {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid $lighter-gray;
        }
    }
    .about {
        p {
            line-height: 1.5em;
            margin-bottom: 30px;
        }
        table {
            width: 100%;
            text-align: left;
            td, th {
                padding: 5px;
            }
            th {
                font-weight: 600;
            }
        }
    }
    .news {
        h2 {

        }
        h3 {
            font-weight: bold;
        }
        h4 {
            color: $gray;
        }
        .news-item {
            display: flex;
            margin-bottom: 40px;
            justify-content: space-between;
            line-height: 1.5em;
            div:first-child {
                width:60%;
            }
            img {
                width: 30%;
            }
        }
    }
}

.recharts-wrapper {
    
    .recharts-surface {
        border-bottom: 2px dotted $lighter-gray;
    }
        
}
