.header-container {
    
    box-shadow: 0 1px 4px gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.header {
    display: flex;
    padding: 10px 20px;
    height: 50px;
    align-items: center;
}

.header a {
    color: black;
}

.splash-header-nav {
    display: flex;
}


.splash-header-nav li {
    padding: 0 20px;
}

.header-products-dropdown {
    display: none;
    margin-left: 200px;
    font-size: 16px;
    padding: 20px;
    padding-left: 0;
}
.header-products-dropdown li {
    padding: 0 20px;
}
.header-products-dropdown li:first-child {
    margin-left: 0;
    padding-left: 0;
}
.header-products-dropdown a {
    font-weight: bold;
    color: black;
}
.header-products-dropdown a:hover {
    color: green;
}

.header-products-dropdown li:last-child {
    border-left: 1px solid black;
}
.header-products-dropdown li:last-child a {
    color: deeppink;
}

.header-container .show {
    display: flex;
}

.header-logged-options {
    margin-left: auto; // floats the last div to the right of the navbar    
}

.header-logged-options a { // signin/signup
    margin-right: 20px;
    font-weight: 900;
    text-align: center;
}

.header-logged-options a:first-child:hover { // sign in link
    color: green;
}

.header-logged-options a:last-child { // sign up button 
    padding: 10px;
    display: inline-block;
    width: 125px;
    background-color: green;
    color: black;
    border-radius: 20px;
}

.header-logged-options a:last-child:hover {// sign up button 
    background-color: darkgreen;
} 