.session-form label, 
.session-form input, 
.session-form button {
    display: block;
    box-sizing: border-box;
}

.session-form, .signup-container {
    width: 100%;
    font-family: Arial;

}

.session-form input {
    width: 100%;
    border-radius: 2px;
    background-color: #f2f7f7;
    border: 1px solid #f2f7f7;; 
    padding: 15px;

}
.session-form a {
    color: green;
}
.session-form input:focus, 
.session-form input:hover {
    background-color: white;
}

.session-form input:focus {
    border: 1px solid green;
}

.session-form button {
    background-color: green;
    color: white;
    text-align: center;
    font-weight: 900;
    border-radius: 4px;
    padding: 17px;
    width: 140px;
    margin-bottom: 25px;
}

.session-form button:hover {
    background-color: darkgreen;
}

.login-container {
    display: flex;
    height: 100%;
}

.login-container img {
    width: 50%;
    height: 100%;
    display: block;
}

.login-form {
    display: flex;
    width: 50%;
    align-items: center;
    padding: 0;

}

.login-form div:first-child {
    width: 410px;
    margin-left: 52px;
}

.login-form .input-block {
    position: relative;
}

.login-error-box {
    display: none;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 200px;
    z-index: 1;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow:  5px 5px 10px #888888;
    padding: 10px;
    background-color: white;
}

.login-form .show {
    display: block;
}

.login-form h1 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
}

.login-form label { 
    font-size: 13px;
}

.login-form label, .login-form input {
    margin-bottom: 15px;
} 

.login-form .forgot {
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
}


.login-invalid-credentials {
    margin-bottom: 75px;
}
.login-invalid-credentials li {
    font-weight: bold;
    font-size: 13px;
    margin-bottom:10px;
}

.signup-container {
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.signup-container .logo {
    margin-bottom: 50px;
    padding-top: 30px;
}



.signup-form {
    width:55%;
    display: flex;
    justify-content: space-between;
}

.signup-aside {
    width: 40%;
    background-color: #f2f7f7;
    height: 100%;
    padding: 0 50px;
    padding-top: 200px;
    box-sizing: border-box;
}


.signup-aside h3 {
    font-weight: 900;,
    font-size: 26px;
    margin-bottom: 10px;
}

.signup-aside p {
    margin-bottom: 40px;
}
.signup-form h1 {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
}

.signup-form h2 {
    font-size: 18px;
    margin-bottom: 80px;
}

.signup-form input {
    margin-bottom: 20px;
    padding: 10px;
}

.signup-form .double-column {
    display: flex;
    justify-content: space-between
}

.signup-form .form-user-names {
    width: 48%;
}


.signup-invalid-credentials {
    list-style: disc;
    padding-left: 20px;
    margin-top: 20px;
    color: red;

}
.signup-invalid-credentials li {
    margin-bottom: 20px;
}


